<div class="app-title">
  <h2>SpaceX Launch Programs</h2>
</div>
<div class="main-container">
<div class="main-grid">
  <div class="filters">
    <div style="margin: 10px 0 10px 5px;text-align: left;">
      <span style="font-size: large;font-weight: 700;">Filters</span>
    </div>
    <div>
      <form [formGroup]="spaceForm">
        <div class="title">
          <span>Launch Year</span>
          <hr>
        </div>
        <div class="filter-buttons">
          <div class="filter-button" *ngFor="let year of years" [ngClass]="{'highlight-filter':this.selectedYear == year}">
            <label for="{{year}}">
              <input type="radio" id="{{year}}" formControlName="year" value="{{year}}" (click)="checkClear('year',year)">
            {{year}}
            </label>
          </div>
        </div>
        
        <div class="title">
          <span>Successful Launch</span>
          <hr>
        </div>
        <div class="filter-buttons">
          <div class="filter-button" [ngClass]="{'highlight-filter':this.launched == 'true'}">
            <label for="slaunch_true">
            <input type="radio" id="slaunch_true" formControlName="slaunch" value="true" (click)="checkClear('slaunch','true')">True
            </label>
          </div>
          <div class="filter-button" [ngClass]="{'highlight-filter':this.launched == 'false'}">
            <label for="slaunch_false">
            <input type="radio" id="slaunch_false" formControlName="slaunch" value="false" (click)="checkClear('slaunch','false')">False
            </label>
          </div>
        </div>
        
        <div class="title">
          <span>Successful Landing</span>
          <hr>
        </div>
        <div class="filter-buttons">
          <div class="filter-button" [ngClass]="{'highlight-filter':this.landed == 'true'}">
            <label for="sland_true">
            <input type="radio" id="sland_true" formControlName="sland" value="true" (click)="checkClear('sland','true')">True
            </label>
          </div>
          <div class="filter-button" [ngClass]="{'highlight-filter':this.landed == 'false'}">
            <label for="sland_false">
            <input type="radio" id="sland_false" formControlName="sland" value="false" (click)="checkClear('sland','false')">False
            </label>
          </div>
        </div>
        
      </form>
    </div>
    
    
  </div>
  <div class="items">
    <div class="no-results" *ngIf="!loading && flights.length ==0">
      <h2>No Results</h2>
    </div>
    <div class="no-results" *ngIf="loading">
      <h2>Please Wait</h2>
    </div>
    <div class="card" *ngFor="let flight of flights; let i = index">
      <img [src]="flight.links.mission_patch" >
      <div class="mission-title">
        <h5>{{flight.mission_name  + " #" +flight.flight_number}}</h5>
      </div>
      <div class="mission-id">
        <h5>Mission Ids:</h5>
        <ul>
          <li *ngFor="let missionId of flight.mission_id">{{missionId}}</li>
        </ul>
      </div>
      <div class="mission-launch-year">
        <h5>Launch Year: </h5><span>{{flight.launch_year}}</span>
      </div>
      <div class="mission-SLaunch">
        <h5>Successful Launch: </h5><span>{{flight.launch_success}}</span>
      </div>
      <div class="mission-SLand">
        <h5>Successful Landing: </h5><span>{{flight.rocket.first_stage.cores[0].land_success !== null ? flight.rocket.first_stage.cores[0].land_success: 'NA'}}</span>
      </div>
    </div>
  </div>
</div>
</div>
<div style="width:100%;text-align: center;">
  <strong>Developed By : </strong><span>Vamsi Ambati</span>
</div>